.uperNav{
    text-transform: uppercase;
    font-weight: bold;
}
.bg{
    background-color: #2c3e50  !important;
}
.fontBig{
    font-size: 200% !important;
}
.greenBg{
    background-color: #1abc9c !important;
}
.togglrColor {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ActiveLink{
    background-color: #1abc9c !important;
    color: white !important;

}
.hoverLink{
    transition: .3s all ;
    -webkit-transition: .3s all ;
    -moz-transition: .3s all ;
    -ms-transition: .3s all ;
    -o-transition: .3s all ;
}
/* li .hoverLink:hover{
    color: #1abc9c !important;
}
li .hoverLink:active:hover
{
    color: white !important;
} */